<div class="{{unless darkMode "bg-light"}} main-section">
  <div class="container">
    <h1 class="title text-center display-4" {{action "toggleDarkMode" on="click"}}>Awesome Media Downloader</h1>
    {{#liquid-if initialSocketConnection}}
      <form>
        <div class="form-group">
          {{textarea class="form-control" rows="4" placeholder="Enter URLs (one per line)" value=urls disabled=(or inFlight socketDisconnected)}}
        </div>
        {{#liquid-if environment.ffmpeg}}
          {{#liquid-if environment.allowFormatSelection}}
            <label>File Format</label>
            {{#power-select selected=format searchEnabled=false disabled=disableFormat options=formats onchange=(action "setFormat") as |format|}}
              {{#if (get formatLabels format)}}
                {{get formatLabels format}}
              {{else}}
                {{uppercase format}}
              {{/if}}
            {{/power-select}}
          {{/liquid-if}}
          {{#liquid-if environment.allowQualitySelection}}
            <label>File Quality</label>
            {{#power-select selected=quality searchEnabled=false disabled=disableQuality options=qualities onchange=(action "setQuality") as |quality|}}
              {{get qualityLabels quality}}
            {{/power-select}}
          {{/liquid-if}}
        {{/liquid-if}}
        {{#spin-button class="btn btn-dark btn-lg btn-block" buttonStyle="zoom-out" disabled=(or inFlight socketDisconnected noUrls) action=(action "downloadFile")}}Download{{/spin-button}}
        {{#liquid-if downloading}}
          {{#spin-button id="cancel-button" class="btn btn-danger btn-lg btn-block" buttonStyle="zoom-out" action=(action "cancelDownload")}}Cancel{{/spin-button}}
        {{/liquid-if}}
        <h4 class="status font-weight-light text-{{statusClass}}">{{status}}</h4>
      </form>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated {{if downloadError "bg-danger" "bg-dark"}}" style={{progressWidth}}>
          <span title="{{displayedProgress}}">{{displayedProgress}}</span>
        </div>
      </div>
    {{else}}
      <p class="text-center text-default">Loading...</p>
    {{/liquid-if}}
  </div>
</div>
