<div class="RouteIndex">
  <div class="card">
    <div class="top">
      <div class="heading">
        <div>awesome</div>
        <div>media</div>
        <div>downloader</div>
      </div>
      <div class="form">
        <Textarea @disabled={{this.inFlight}} @placeholder="Enter URLs (one per line)" @rows={{6}} @value={{this.urls}} {{auto-resize}}/>
        <div class="resolution">
          <label>Preferred Resolution:</label>
          <select disabled={{this.inFlight}} {{on "change" this.handleResolutionChange}}>
            <option value="480">480p (SD)</option>
            <option value="720">720p (HD)</option>
            <option selected value="1080">1080p (Full HD)</option>
            <option value="2160">2160p (4K)</option>
          </select>
        </div>
        <LaddaButton @action={{this.download}} @buttonStyle="zoom-out" @class="primary" @disabled={{this.disabled}}>Download</LaddaButton>
      </div>
    </div>
    {{#if this.videos}}
      <div class="subHeading">downloads ({{this.videos.length}})</div>
      <button class="warning" disabled={{this.inFlight}} {{on "click" this.clearAll}}>Clear All</button>
      <div class="tableContainer">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>URL</th>
              <th>Title</th>
              <th>Resolution</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each this.videos as |video|}}
              <tr>
                <td class="image">
                  {{#if video.thumbnail}}
                    <img src={{video.thumbnail}}>
                  {{else}}
                    <div>
                      😳
                    </div>
                  {{/if}}
                </td>
                <td>{{video.url}}</td>
                <td>{{video.title}}</td>
                <td>{{video.resolution}}</td>
                <td>{{video.displayedStatus}}</td>
                <td>
                  {{#if video.downloading}}
                    <LaddaButton @action={{fn this.cancel video}} @buttonStyle="zoom-out" @class="danger" @disabled={{video.notInFlight}}>Cancel</LaddaButton>
                  {{else if video.notProcessing}}
                    <button class="warning" disabled={{video.inFlight}} {{on "click" (fn this.clear video)}}>Clear</button>
                  {{/if}}
                </td>
              </tr>
              {{#if video.inFlight}}
                <tr>
                  <td colspan="6">
                    <div class="progress">
                      <div style={{make-style "width" video.displayedProgress}}>
                        {{video.displayedProgress}}
                      </div>
                    </div>
                  </td>
                </tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>
      </div>
    {{/if}}
  </div>
</div>
